/**
* Flipkey Default Widget Styles.
*/

div.flipkey-widget div.body_review_container {
  clear:both;
  padding:5px;
  overflow:hidden;
}

div.flipkey-widget span.rating-d span {
  background:url(../images/rating-default.png) no-repeat scroll 0 0 transparent;
  height:21px;
  left:0;
  position:absolute;
  text-indent:-10001px;
  top:0;
  width:0;
}

div.flipkey-widget span.rating-d {
  background:url(../images/rating-default.png) no-repeat scroll 0 -22px transparent;
  display:inline-block;
  height:21px;
  margin-left:1px;
  margin-top:2px;
  overflow:hidden;
  position:relative;
  text-indent:-10001px;
  vertical-align:middle;
  width:123px;
}

div.flipkey-widget span.rating-a {
  background:url(../images/rating-default-small.png) no-repeat scroll 0 -17px transparent;
  display:inline-block;
  height:17px;
  margin-top:3px;
  overflow:hidden;
  position:relative;
  text-indent:-10001px;
  vertical-align:middle;
  width:100px;
}

div.flipkey-widget span.rating-a span {
  background:url(../images/rating-default-small.png) no-repeat scroll 0 0 transparent;
  height:17px;
  left:0;
  position:absolute;
  text-indent:-10001px;
  top:0;
  width:0;
}

div.flipkey-widget div.body_review {
  clear:both;
  display:block;
  width:99%;
}

div.flipkey-widget div.paging-bottom {
}
